 <nav>
    <img id="home-icon" src="https://static.vecteezy.com/system/resources/previews/000/585/465/non_2x/mountain-and-water-logo-business-template-vector.jpg">
    <h1 id="home-title">Hawaiian Adventure Tracker</h1>
    <a id="add-link" href="/sites/new"><img id="add-button" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_green.png"></a>
</nav>

